<%= simple_form_for(@tweet) do |f|%>
  <%= f.error_notification %>
  <div class='fiels'>
    <div class='control'>
      <%= f.input :tweet, label:'Tweet About It ', input_html: {class: 'textarea'}, wrapper: false, label_html: { class: 'label'}, placeholder: 'Compose new Tweet...' %>
    </div>
  </div>
  <%= f.button :submit, class: 'button is-info'%>
<% end %>