<!DOCTYPE html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
    <div class='notification is-primary global-notification'>
      <p classs='notice'><%= notice %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class='notification is-danger global-notification'>
      <p classs='notice'><%= alert %></p>
    </div>
  <% end %>
  <nav class='navbar is-info'>
    <div class='navbar-brand'>
      <%= link_to root_path, class:'navbar-item' do%>
        <h1 class='title is-5'>Twitter</h1>
      <% end %>
      <div class='navbar-burger burger'data-target='navbarExample'>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id='navbarExample' class='navbar-menu'>
      <div class='navbar-end'>
        <div class='field is-grouped'>
          <p class='control'>
            <%= link_to 'New tweet', new_tweet_path, class:'button is-inverted' %>
          </p>
          <p class='control'>Sign Up</p>
        </div>
      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
